*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #00cc00;
}
.subscriptioncontainer{
    background-color: #111;
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
    width:100%;
    color: #00cc00;
    border: 2px solid #00cc00;
}
.subscriptionform{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
}
.subscriptioncontainer h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.subscriptionform input[type="email"]{
    padding: 12px;
    border: 1px solid #00cc00;
    background-color: black;
    color: #00cc00;
}
.subscriptioncontainer input[type="email"]::placeholder{
    color: #00cc00;

}
.subscriptionform button{
    background-color: #00cc00;
    padding: 12px;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.subscriptionform button:hover{
    background-color: #00cc00;

}
.info-text{
    font-size: 14px;
    color: #009900;
}