@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.linkcard{
    background-color: white;
    padding: 40px 50px;
    border-radius: 16px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}
.avatar{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.linkcard h1{
    margin: 12px 0 8px;
    color: #222;
    font-size: 32px;
}
.bio{
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}
.links a{
    display: block;
    background-color: #e0f7fa;
    color: #00796b;
    padding: 16px;
    margin: 14px 0px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s ease;

}
.links a:hover{
    background-color: #b2ebf2;
    color: #004d40;
}